* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 70px;

  background-color: #001529;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

header img {
  position: absolute;
  left: 30px;
}

main {
  width: 100vw;
  height: calc(100vh - 70px);

  background-color: #F2F4F7;

  display: flex;
  gap: 10px;
  
  padding: 16px 16px 32px;

}


.cmd-img {
  height: 70px;
  width: 90px;

  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 4px;
  
  cursor: pointer;
}

.cmd-img:hover {
  transform: scale(1.05);
  border: 1px solid #E5007B;
}

.side-container {
  width: 30%;
  
  border: 2px solid #6F7377;
}

.instructions-container {
  width: 100%;
 
  padding: 30px 0px 30px;
  border-bottom: 2px solid #6F7377;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.controls-container {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 16px;
}

.cmd-button {
  all: unset;
  box-sizing: border-box;

  width: 140px;
  height: 40px;

  background-color: azure;
  border-radius: 6px;
  border: 2px solid darkgray;

  text-align: center;
  cursor: pointer;
}

.reset-button {
  position:absolute;
  bottom: 40%;
  right: 10%;
}

.commands-container {
  width: 100%;

  padding: 32px 40px;

  display: flex;

  gap: 16px;
  flex-wrap: wrap;
}

.map {
  width: 70%;
  flex-grow: 2;
  position: relative;

  padding: 16px;
  border: 2px solid #6F7377;
}

.mobile-img {
  width: 80px;
  height: auto;

  position: absolute;
  
}